# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BurnSoft.Universal/obj/
UniversalTestSeed/bin/
UniversalTestSeed/obj/
BurnSoft.Universal/bin/
UnitTest_BurnSoftUniversal/
.vs/
BurnSoft.Universal.net40/obj/
BurnSoft.Universal.net45/obj/
BurnSoft.Universal.net48/obj/
*.nupkg
