# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BurnSoft.Universal/obj/Debug/*.*
BurnSoft.Universal/obj/Release/*.*
UniversalTestSeed/bin/Debug/*.*
UniversalTestSeed/bin/Release/*.*
UniversalTestSeed/obj/x86/Debug/*.*
UniversalTestSeed/obj/x86/Release/*.*
UniversalTestSeed/obj/x86/Debug/TempPE/*.*
UniversalTestSeed/obj/x86/Release/TempPE/*.*
BurnSoft.Universal/obj/Debug/TempPE/*.*
BurnSoft.Universal/obj/Release/TempPE/*.*
BurnSoft.Universal/bin/Debug/*.*
UnitTest_BurnSoftUniversal/bin/
UnitTest_BurnSoftUniversal/obj/
.vs/BurnSoft.Universal/v15/Server/
.vs/BurnSoft.Universal/v15/
.vs/
BurnSoft.Universal/obj/
BurnSoft.Universal/bin/
BurnSoft.Universal/bin/Release/BurnSoft.Universal.dll
